body{
    background: pink;
    font-family: 'Montserrat', timesnewroman;
    font-size: 20px;
}

.btn{
    background: red;
    margin: 18px;
}

.add-btn{
    background: lightblue;
    width: 40px;
    height: 40px;
}

.text-field {
    height: 25px;
}
.app-title{
    text-align: center;
    color: blue;
    font-size: 35px;
}

.container{
    border: 5px solid red;
    border-radius: 50px;
    font-size: 16px;
}
